.section {
  padding: 2rem 1rem;
}

.row {
  padding: 1rem 0;
  max-width: 30rem;
  margin: auto;
}

.contentContainer > h2 {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.contentContainer > p {
  margin-bottom: 1rem;

  font-size: 0.95rem;
  line-height: 1.5rem;

  color: #424242;
}

.contentContainer b {
  font-weight: 600;

  color: #000000;
}

.section > section:last-child > .imageContainer > img {
  background-color: #e5e5e5;
  aspect-ratio: 4 / 6;
}

.section > section:first-child > .imageContainer > img {
  background-color: #e5e5e5;
  aspect-ratio: 4 / 2.5;
}

.imageContainer > img {
  width: 100%;
}

/* Media Queries */
@media (min-width: 1020px) {
  .section {
    padding: 0;
  }

  .row {
    max-width: none;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .row > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contentContainer {
    width: 45ch;
    padding: 2rem;
  }

  .contentContainer > h2 {
    font-size: 1.15rem;
  }

  .contentContainer > p {
    font-size: 0.8rem;
  }

  .contentContainer > a {
    font-size: 0.8rem;
  }

  /* First row */
  .section > .row:first-child > .flexContainer {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .section > .row:first-child .contentContainer {
    margin-left: 2.5rem;
  }

  .section > .row:first-child > .imageContainer {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .section > .row:first-child img {
    height: 100%;

    -o-object-fit: cover;
    object-fit: cover;
  }

  /* Second row */
  .section > .row:last-child > .flexContainer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .section > .row:last-child img {
    width: 50%;
    height: 100%;

    -o-object-fit: cover;
    object-fit: cover;
  }

  .section > .row:last-child .contentContainer {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1320px) {
  .contentContainer {
    width: 50ch;
  }

  .contentContainer > h2 {
    font-size: 1.5rem;
  }

  .contentContainer > p {
    font-size: 1rem;
  }

  /* First row */
  .section > .row:first-child .contentContainer {
    margin-left: 5rem;
  }

  /* Second row */
  .section > .row:last-child .contentContainer {
    margin-right: 5rem;
  }
}
