.newsletterForm {
  max-width: 40rem;
  margin: 1rem auto;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsletterForm > div {
  margin-bottom: 1.5rem;

  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.newsletterForm label {
  display: block;

  font-weight: 300;
  text-align: initial;
}

.newsletterForm label::after {
  content: " *";
}

.newsletterForm input {
  width: 100%;
  padding: 0.5rem;

  font-weight: 200;

  border: none;
  border-radius: 0;
  border-bottom: 1px #ffffff solid;
  outline: none;

  color: #ffffff;
  background-color: #000000;
}

.newsletterForm > button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;

  border: 1px solid #ffffff;

  color: #000000;
  background-color: #ffffff;

  cursor: pointer;

  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  -o-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.newsletterForm > button:hover {
  color: #ffffff;
  background-color: #000000;
}

/* Media Queries */
@media (min-width: 720px) {
  .newsletterForm {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1020px) {
  .newsletterForm {
    margin-bottom: 4rem;
  }
}
