.placeOrderContainer {
  border-bottom: 1px solid #e5e5e5;
}

.placeOrderContainer > h3 {
  margin: 1.5rem 0;

  font-size: 1.25rem;
  font-weight: 600;
}

.placeOrderContainer > p {
  margin-bottom: 1rem;

  font-size: 0.95rem;

  color: #7d7268;
}

.placeOrderContainer > button {
  width: 100%;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem 0.5rem;
  border: none;

  font-size: 0.95rem;

  background-color: #7d7268;
  color: white;

  cursor: pointer;
}

/* Media Queries */
@media (min-width: 720px) {
  .placeOrderContainer {
    border-bottom: none;
  }
}
