.checkoutContainer {
  width: 100%;
  padding: 1rem 0;

  position: fixed;
  bottom: 0;

  text-align: center;

  background-color: white;

  -webkit-animation: rise 0.2s both ease-out;
  animation: rise 0.2s both ease-out;
}

.checkoutContainer > button {
  width: 90%;
  padding: 1rem 0;

  border: none;

  font-size: 0.9rem;

  color: white;
  background-color: #7d7268;

  cursor: pointer;
}

/* Media Queries */
@media (min-width: 720px) {
  .checkoutContainer {
    width: 50%;

    -webkit-animation: slide 0.2s both ease-out;
    animation: slide 0.2s both ease-out;
  }
}

@media (min-width: 1320px) {
  .checkoutContainer {
    width: 25%;
  }
}

/* Animations */
@-webkit-keyframes rise {
  0% {
    bottom: -50rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    bottom: -50rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    right: -50rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    right: -50rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
