.section {
  width: 100%;
  min-height: 20rem;
  padding: 3rem 0.5rem;

  background: url("/src/resources/images/cans_hero.webp") center / cover
    no-repeat #d8955e;
}

.container {
  max-width: 20rem;
  margin: auto;
  padding: 4rem 1rem;

  border: 2px solid rgba(255, 255, 255, 0.6);
  border-top: none;
  border-radius: 1rem;

  text-align: center;

  color: #ffffff;

  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);

  -webkit-box-shadow: 0 0.5rem 1rem rgba(43, 43, 43, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(43, 43, 43, 0.3);
}

.container > h1 {
  font-size: 4rem;
}

.container > p {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Media Queries */
@media (max-width: 720px) and (orientation: landscape) {
  .section {
    min-height: auto;
  }
}

@media (min-width: 720px) {
  .section {
    padding: 10rem 0rem;
  }

  .container {
    max-width: 30rem;
    padding: 6rem 1rem;
  }

  .container > h1 {
    font-size: 5rem;
  }

  .container > p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1020px) {
  .section {
    min-height: 100vh;

    background-attachment: fixed;
  }

  .container {
    max-width: 35rem;
    padding: 7rem 1rem;
  }

  .container > h1 {
    font-size: 6rem;
  }

  .container > p {
    font-size: 1.7rem;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 40rem;
    padding: 8rem 1rem;
  }

  .container > h1 {
    font-size: 7rem;
  }

  .container > p {
    font-size: 2rem;
  }
}
