.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.6);

  -webkit-animation: fade-in 0.4s both ease-out;
  animation: fade-in 0.4s both ease-out;
}

.modal {
  width: 100%;

  position: fixed;
  bottom: 0;
  z-index: 11;

  background-color: white;

  -webkit-animation: rise 0.2s both ease-out;
  animation: rise 0.2s both ease-out;
}

.header {
  padding: 1rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header > h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.header > button {
  border: none;

  background-color: white;

  cursor: pointer;
}

.icon {
  width: 1.5rem;
}

.disableScroll {
  overflow: hidden;
}

/* Media Queries */
@media (min-width: 720px) {
  .modal {
    width: 50%;

    -webkit-animation: slide 0.2s both ease-out;

    animation: slide 0.2s both ease-out;
  }
}

@media (min-width: 1320px) {
  .modal {
    width: 25%;
  }
}

/* Animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rise {
  0% {
    bottom: -50rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    bottom: -50rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    right: -50rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    right: -50rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
