.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  border-bottom: 1px solid #e5e5e5;

  overflow: hidden;

  background-color: #ffffff;
}

.optionsList {
  display: flex;

  font-size: 1.05rem;
}

.optionsList > li {
  padding: 0.75rem 1rem;
}

.active {
  background-color: #e5e5e5;
}

.cart {
  padding: 0.75rem 1rem;

  display: flex;
}

.cart > img {
  width: 1.1rem;
  margin-right: 0.25rem;

  object-fit: contain;
}
