.paymentContainer {
  border-bottom: 1px solid #e5e5e5;
}

.paymentHeader {
  margin-top: 1.5rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paymentHeader > h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.paymentHeader > button {
  border: none;

  font-size: 0.95rem;
  text-decoration: underline;

  background-color: transparent;
  color: #7d7268;

  cursor: pointer;
}

.paymentInfo {
  margin: 0.5rem 0 1rem 0;

  overflow: hidden;
  text-wrap: nowrap;

  color: #7d7268;
}
